/* ==UserStyle==
@name           Hide-scrollbar
@description    隐藏聊天窗口的按钮
@preprocessor   transitio
@version        0.1.0
@homepageURL    https://github.com/YatFanLan/Hide-scrollbat
@author      YatFanLan
==UserStyle==*/
.q-scroll-view::-webkit-scrollbar {
  display: none;
}

.q-scroll-view::-webkit-scrollbar-track {
  display: none;
}

.q-scroll-view::-webkit-scrollbar-thumb {
  display: none;
}

 